  h1, h2, h3, li, p {text-align:center;}
  
  h1 {color: #7B6E62;  
  font-size: 30px;
  padding: 50px 10px;
  background-color: #cab39f;}
  
  h3 {font: calibri;
  padding: 10px 400px;
  background-color: #dda982;
  color: #805C41;}
  
  li {font-size: 20px;
  color: #575F49;
  padding: 12px;
  margin-top: 10px;
  width: 310px;
  background-color: #b9cb99;
  list-style-type: none;}
  
  nav {display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4.5px;
  margin-right: 40px;}
  
  .1 {grid-column: 1;}
  .2 {grid-column: 2;}
  .3 {grid-column: 3;}
  .4 {grid-column: 4;}
  .page {background-color: #dda982}
  
  body {background-color: beign;}
  
  p {font: 15px Helvetica;
  color: #29282F;
  padding:25px;
  background-color: #9FCAC1;}
