  h1 {color: #32386C; 
  font-size: 30px}
  
  h2 {color: #32386C; 
  background-color: #7A9E9F;}
  
  body {background-color: beign}
  
  p {font: italic 15px sans-serif; 
  border: thick double #7A9E9F;
  color: #32386C; 
  background-color: powderblue;}
