  h1, h2, h3, li, p {text-align:center;}
  
  h1 {color: #7B6E62;  
  font-size: 30px;
  padding: 50px 10px;
  background-color: #cab39f;}
  
  h3 {font: calibri;
  padding: 10px 400px;
  background-color: #dda982;
  color: #805C41;}
  
  li {font-size: 20px;
  color: #575F49;
  padding: 12px;
  margin-top: 10px;
  background-color:b9cb99;
  display: inline-block;
  width: 310px;}
  
  body {background-color: beign;}
  
  p {font: 15px Helvetica;
  color: #29282F;
  padding:25px;
  background-color: #9FCAC1;}
