table
{background-color: DarkBlue;
  width: 50%;
  height: 50%;
  color: GoldenRod;}

tbody
{font-size: 50%}

thead
{color: White;
font-size: 50%;}



ol
{
margin: 50px 50px 50px 50px;
}

p
{
margin: 50px 50px 50px 50px;}

th,
td {
  width: 100px;
  text-align: center;
  border: 5px solid black;}

body
{background-color: Cornsilk;}
