header
{background-color: #5c7ea3;
color: white}

h3 {
  border-top: 4px dotted blue;
   border-spacing: 15px;
border-bottom: 4px dotted blue;
}

table
{background-color: DarkBlue;
  color: GoldenRod;}
thead
{color: White;
}

th 
{text-align: center;
  border: 5px solid black;}

body
{background-color: Cornsilk;
font-family: Helvetica, Verdana, sans-serif}
